<div  style=" background-image:url('https://th.bing.com/th/id/OIP.2vRd0VAOjAPG31XKX4qcHwHaFj?w=217&h=180&c=7&r=0&o=5&dpr=1.6&pid=1.7');">
<h1 class="name"><i><b><i>Sunil Chhetri</i></b></i></h1>

<img src="https://www.mykhel.com/img/2018/10/sunilchhetri-1539258149.jpg" alt="Girl in a jacket" width="500" height="300">

<p> <i> Sunil Chhetri </i>is an Indian professional footballer who represents the India 
  national football team as a forward. The current captain of the India national team,
   he is the country's all-time top goal scorer and most-capped player. As of 4 July 2023,
    he has scored 92 goals in 142 official international appearances since his debut on 12 
    June 2005 against Pakistan.  </p>
    <p>Sunil Chhetri is India's leading goalscorer of all time, by a margin. He's also the second-highest-scoring 
      Asian and third-highest-scoring active men's player in the world. He's scored so many goals that he's now just 
      eight goals away from 100 international goals for India.
    Yeah, one hundred.
    If he does get there, he will be only the fourth man to do so in international football. And if you're a fan, the good thing is that he shows no signs of slowing down -- he's scored seven in his last nine internationals. He'll turn 39 by the time India take the field next, but as the SAFF Championship golden boot showed, there's little doubting Chhetri's prowess.
    Chhetri with India at the 2019 AFC Asian Cup.
 </p>
 <h1 class="per"><i>Personal Life</i></h1>
 <p> Sunil Chhetri was born on 3 August 1984 to K. B. Chhetri, an officer in the Corps of Electronics and Mechanical Engineers of the Indian Army, and Sushila Chhetri in Secunderabad, India.[139][1][140][141] His father played football for the Indian Army football team while his mother and her twin sister played for the Nepal women's national team.[142] Chhetri started playing football from a young age taking part in various tournaments.[143]


  Chhetri being felicitated by the Prime Minister of India, Narendra Modi, at the beginning of 2017 FIFA U-17 World Cup in New Delhi.
  On 4 December 2017, Chhetri married his long time girlfriend Sonam Bhattacharya who is the daughter of former Indian international and Mohun Bagan player Subrata Bhattacharya.[144][145] Sunil Chhetri was named an 'Asian Icon' by AFC on his 34th birthday in 2018.[146] He signed a 3-year deal with global sports giant Puma starting from 2020.[147]
  
  On 27 September 2022, FIFA launched a documentary on FIFA+, of three episodes named 'Captain Fantastic', which captures a lot of what is unseen and unheard about Chhetri, be it his pre-teen anguish, his debut for India aged 20, his romance with his future wife and his early days and peak as a football player with many awards and records under his belt. </p>
  
  <h1 class="award"><i>Awards and accolades</i></h1>
  The President, Shri Ram Nath Kovind presenting the Major Dhyan Chand Khel Ratna Award, 2021 to Shri Sunil Chhetri for Football, at Rashtrapati Bhavan, in New Delhi on 13 November 2021<br>
  Ramnath Kovind, then-president of India, presenting the Khel Ratna Award to Chhetri in 2021.<br>
  <b>2011</b> − Arjuna Award, by the Government of India in recognition of his outstanding achievement in sports.<br>
  <b>2019</b> −  Padma Shri, India's fourth highest civilian award.<br>
  <b>2021</b> – Khel Ratna Award, highest sporting honour of India.<br>

  <h1 class="record"><i>Records</i></h1>
 
  <div class="first-grid" style="background-image: url('');">
  <div>
   
    <pre><h3>
  * First Indian player to have played in three different continents
  * Most appearances for India (142)
  * Most international goals by an Indian (92)
  * Most hat-tricks for India (4)
  * Most goals for India in AFC Competitions (19)
  * All-time top goal scorer in SAFF Championship (23)
  * Most number of matches played by an Indian in AFC Cup (40)
  * Most number of goals scored by an Indian in AFC Cup (19)
  * Most goals by an Indian in first tier Indian football leagues (143)
  * First Indian player to score hat-trick in Indian Super League
  * Most hat-tricks by an Indian in Indian Super League (2)
  * Top Indian goal scorer in Indian Super League (56)
  * Top Indian goal scorer in I-League (94)
  * All-time top goal scorer in the Super Cup (9)
  * Most number of matches played for Bengaluru (259)
  * Most number of goals scored for Bengaluru (115)
  * First footballer to receive Khel Ratna Award
  * AIFF Player of the Year for a record seven times
    </h3> </pre>
  </div>
  <div>
    <img src="https://assets.khelnow.com/news/uploads/2020/08/AFC-ASIAN-CUP-2019-INDIA-vs-BAHRAIN-243-scaled.jpg " width="500" height="400">
  </div>
</div>
<h1>images</h1>


  <style>
    .first-grid
    {
      display:grid;
      display:flex;
    }
    .first-grid pre{
      font-size:0.8rem;
      
    }
    .first-grid img
    {
      margin-top:10px;
      margin-left:250px;
    }
  h1{
color:darkmagneta;
text-align:center;

 
  }
  img{
    margin-left:500px;
  }
  p{
    font-size:1rem;
  }
  .name
  {
    background-color:orange;
  }
 .per
 {
  background-color:white;
 }
 .award
 {
  background-color:cornflowerblue;
 }
 .record
 {
  background-color:green;
 }
</style>


</div>